@tailwind base;
@tailwind components;
@tailwind utilities;
@layer layouts;

:root {
	--toms-header-height: 96px;
}

@layer base {
	.animated-underline {
		@apply relative after:w-0 after:h-[1px] after:inline-block after:opacity-50 after:absolute after:left-0 after:transition-all after:duration-300 after:bottom-0 after:bg-primary hover:after:w-full;
	}

	main {
		ul {
			@apply list-disc list-inside;
		}

		blockquote {
			@apply border-l pl-4 my-2 border-primary;
		}
	}
}

@layer components {
	.button {
		@apply border text-primary-900 py-2 px-4 text-sm w-fit transition-all duration-300 hover:bg-primary-50 hover:-translate-x-1 hover:-translate-y-1 hover:shadow-[3px_3px_0_0] hover:shadow-primary;
	}

	.social-icon {
		@apply text-primary-700 hover:text-primary-400 transition-all duration-500;
	}
}

.admin-bar #off-canvas {
	top: calc(var(--wp-admin--admin-bar--height) + var(--toms-header-height));
	height: calc(
		100% - var(--wp-admin--admin-bar--height) - var(--toms-header-height)
	);
}

.admin-bar #site-header {
	top: var(--wp-admin--admin-bar--height);
}

#wpadminbar {
	position: fixed;
}

.simple-content {
	p {
		@apply my-2;
	}

	a {
		@apply animated-underline text-primary;
	}
}

.widget {
	.widget-title {
		@apply font-semibold;
	}

	a {
		@apply animated-underline text-primary;
	}
}
