@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--toms-header-height: 96px;
}

@layer components {
	.button {
		@apply border border-gray-500 py-2 px-4 text-sm w-fit transition-colors hover:bg-gray-100;
	}
}

.admin-bar #off-canvas {
	top: calc(var(--wp-admin--admin-bar--height) + var(--toms-header-height));
	height: calc(
		100% - var(--wp-admin--admin-bar--height) - var(--toms-header-height)
	);
}

.admin-bar #site-header {
	top: var(--wp-admin--admin-bar--height);
}
